@model Tasky.ViewModels.Home.IndexVM
@using Tasky.Api.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="leftCol">
        <h1>Tasky</h1>
        <ul class="projectList">
            @foreach (var project in Model.Projects)
            {
                <li class="@(Model.Project == project.Id ? "active" : "")" data-project="@project.Id">
                    <a href="?project=@project.Id">@project.Value.Name</a>
                    @if (Model.Project == project.Id)
                    {
                        <ul class="sprintList">
                            @foreach (var sprint in Model.Sprints)
                            {
                                <li class="@(Model.Sprint == sprint.Id ? "active" : "")" data-sprint="@sprint.Id"><a href="?project=@project.Id&sprint=@sprint.Id">@sprint.Value.Name</a></li>
                            }
                        </ul>
                    }
                </li>
            }
        </ul>
        <a class="addButton" href="#">Add Project</a>
    </div>
    <div class="main">
        <div class="main-header">
            <span>Project 3</span>
            <span>Sprint 1</span>

            <div class="currentUser">
                Anders Guldstrand
                <span class="currentUser-initials">AG</span>
            </div>
        </div>
        <div class="main-content">

            <div>
                <div class="itemList">
                    <div class="itemList-header">
                        <h3>To Do</h3>
                    </div>
                    <div class="itemList-content">
                        @foreach (var item in Model.Issues.Where(i => i.Issue.Value.State == IssueState.Todo))
                        {
                            <div class="itemList-item">
                                <a href="#">@item.Issue.Value.Name</a>
                                <div class="itemList-item-footer">
                                    <span class="itemList-comments">@item.Comments</span>
                                    @if (item.Attachments != 0)
                                    {
                                        <span class="itemList-attachments">@item.Attachments</span>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                    <div class="itemList-footer">
                        <a class="blackButton" href="#">Add Issue</a>
                    </div>
                </div>
            </div>

            <div>
                <div class="itemList">
                    <div class="itemList-header">
                        <h3>In progress</h3>
                    </div>
                    <div class="itemList-content noFooter">
                        @foreach (var item in Model.Issues.Where(i => i.Issue.Value.State == IssueState.InProgress))
                        {
                            <div class="itemList-item">
                                <a href="#">@item.Issue.Value.Name</a>
                                <div class="itemList-item-footer">
                                    <span class="itemList-comments">@item.Comments</span>
                                    @if (item.Attachments != 0)
                                    {
                                        <span class="itemList-attachments">@item.Attachments</span>
                                    }
                                    <span class="itemList-assignee">@item.Assignee</span>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div>
                <div class="itemList">
                    <div class="itemList-header">
                        <h3>Ready for test</h3>
                    </div>
                    <div class="itemList-content noFooter">
                        @foreach (var item in Model.Issues.Where(i => i.Issue.Value.State == IssueState.ReadyForTest))
                        {
                            <div class="itemList-item">
                                <a href="#">@item.Issue.Value.Name</a>
                                <div class="itemList-item-footer">
                                    <span class="itemList-comments">@item.Comments</span>
                                    @if (item.Attachments != 0)
                                    {
                                        <span class="itemList-attachments">@item.Attachments</span>
                                    }
                                    <span class="itemList-assignee">@item.Assignee</span>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            
            <div>
                <div class="itemList">
                    <div class="itemList-header">
                        <h3>Done</h3>
                    </div>
                    <div class="itemList-content noFooter">
                        @foreach (var item in Model.Issues.Where(i => i.Issue.Value.State == IssueState.InProgress))
                        {
                            <div class="itemList-item">
                                <a href="#">@item.Issue.Value.Name</a>
                                <div class="itemList-item-footer">
                                    <span class="itemList-comments">@item.Comments</span>
                                    @if (item.Attachments != 0)
                                    {
                                        <span class="itemList-attachments">@item.Attachments</span>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/assets/bundle.js"></script>
</body>
</html>